{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md">
        <h3>Telefonkönyv címlista</h3>

        <ul id="contact-list" class="list-group">
        {% for contact in contacts %}
            {{ include("home/_item.html.twig", { contact }) }}
        {% endfor %}
        </ul>
    </div>
    
    <div id="contact-form-container" class="col-md">
        <h3>Új névjegy hozzáadása</h3>
        {{ include("home/_form.html.twig") }}
    </div>
</div>

<button id="add-contact-button" class="btn btn-primary btn-circle">
    <i class="bi bi-plus"></i>
</button>

{% endblock %}
