{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md">
        <h3>Telefonkönyv címlista</h3>

        <ul id="contact-list" class="list-group">
        {% for contact in contacts %}
            {{ include("home/_item.twig", { contact }) }}
        {% endfor %}
        </ul>
    </div>
    
    <div class="col-md">
        <h3>Új névjegy hozzáadása</h3>
        {{ include("home/_form.twig") }}
    </div>
</div>
{% endblock %}
